* {
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

body,
p,
h1,
ul,
li {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.estrutura {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "header header header"
        "conteudo conteudo conteudo"
        "footer footer footer"
    ;
    height: 100vh;
}

.header{
    grid-area: header;
    height: auto;
    background: rgb(0, 0, 0, 0.8);
}

.titulo{
    font-size: 2.4rem;
    color: white;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}


.conteudo{
    grid-area: conteudo;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 40px 20px;
}

.form {
    border: 3px solid black;
    padding: 10px 20px;
    background: #F2F0F0;
    height: 100%;
}


.form input:hover {
    border: 2px solid rgb(0, 0, 0, 0.8) ;
    cursor: pointer;
}
.form input {
    padding: 5px;
    width: 100px;
    margin: 0 5px;
}

.botao{
    width: 120px;
    height: 30px;
    border-radius: 0%;
    gap: 10px;
    margin: 5px; 
    cursor: pointer;
}

.somar:hover {
    background: #BFE53F;        
}

.subtrair:hover {
    background: #FEB8B8;
}
.limpar:hover {
    background: #FAF682;
}


.resultado {
    background: #BFE53F;
    display: none;
    font-size: 1.0rem;
    margin: 10px;
    text-align: center;
}

.alerta {
    background: #FEB8B8;
    display: none;
    font-size: 1.0rem;
    margin: 10px;
    text-align: center;
}


.footer {
    grid-area: footer;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
}

.direitos {
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
